h1{
    color: white;
    font-size: 80px;
}
#middle-number{
    color: aliceblue;
}

.number-row{
    padding-top: 20px;
}
.number-left{
    background-color: red;
    padding: 70px;
}

.number-center{
    background-color: blue;
    padding: 70px;
}

.number-right{
    background-color: green;
    padding: 70px;
}